@import 'navBar.css';
@import 'tree.css';
@import 'scores.css';

body, html {
    height: 100%;
    margin: auto;
    position: relative;

}



h2 {
    margin: auto;
    padding: 1em;
    color: aliceblue;
    text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

div {
    display: block;
}

.background {
    /* The image used */
    background-image: url("..//pics//stadium_background2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.emailUsLink {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
    color: aliceblue;
}
